.head {
  font-size: 30px;
  border-style: solid;
  width: 800px;
  height: 200px;
}

.headDiv {
  display: flex;
  align-content: center;
  padding-top: 100px;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.headRes {
  border-style: solid;
  width: 1000px;
  margin-top: 100px;
}

.results {
  border-style: solid;
  margin-top: 10px;
  margin-left: 20px;
  width: 90%;
}
/* title
authors
description
image */
/* {book.searchInfo.textSnippet}
Description:{book.searchInfo.textSnippet} */
.ul {
  border-style: solid;
  font-size: 20px;
}
